/* Mixins */
@mixin btn {
    text-transform: uppercase;
    font-weight: medium;
}

@mixin btn-primary {
    @include btn;
    color: $light;
    &:hover, &:focus {
        color: $white;
    }
}

@mixin btn-outline-primary {
    @include btn;
    &:hover, &:focus {
        color: $white
    }
}

@mixin big-link {
    color: $secondary;
    font-size: 1.35rem;
    display: inline-flex;
    position: relative;
    align-items: center;
    i {
        padding-top: 0.25rem;
        color: dark;
        margin-left: 1rem;
    }
}